{% extends 'hyperstudy/base.html' %}
{% block content %}
    <div>
        <h1>HyperStudy Service page</h1>
    </div>
    <h1><a href="{% url 'problem_list' %}">문제 목록</a></h1>
    <h1><a href="{% url 'test' pk='1' %}">문제 풀기</a></h1>
{% endblock%}
<!--
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Sangmyung's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="page-header">
            <h1><a href="">Sangmyung's Blog</a></h1>
        </div>


{% for post in posts %}
    <div class="post">
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
    <div>
        <a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">
    </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
-->
<!-- 원래 이 자리에 블록 컨텐트 들어가는 자리-->
<!--
                </div>
            </div>
        </div>
    </body>
</html>
-->